
############################ PCI Pin location constraints ########################

NET "PCI_AD[0]" LOC = Y2 |IOSTANDARD = PCI33_3;
NET "PCI_AD[1]" LOC =	Y1 |IOSTANDARD = PCI33_3;
NET "PCI_AD[2]" LOC =	W3 |IOSTANDARD = PCI33_3;
NET "PCI_AD[3]" LOC =	W1 |IOSTANDARD = PCI33_3;
NET "PCI_AD[4]" LOC =	P8 |IOSTANDARD = PCI33_3;
NET "PCI_AD[5]" LOC =	P7 |IOSTANDARD = PCI33_3;
NET "PCI_AD[6]" LOC =	P6 |IOSTANDARD = PCI33_3;
NET "PCI_AD[7]" LOC =	P5 |IOSTANDARD = PCI33_3;
NET "PCI_AD[8]" LOC =	T4 |IOSTANDARD = PCI33_3;
NET "PCI_AD[9]" LOC =	T3 |IOSTANDARD = PCI33_3;
NET "PCI_AD[10]" LOC = U4 |IOSTANDARD = PCI33_3;
NET "PCI_AD[11]" LOC = V3 |IOSTANDARD = PCI33_3;
NET "PCI_AD[12]" LOC = N6 |IOSTANDARD = PCI33_3;
NET "PCI_AD[13]" LOC = N7 |IOSTANDARD = PCI33_3;
NET "PCI_AD[14]" LOC = M7 |IOSTANDARD = PCI33_3;
NET "PCI_AD[15]" LOC = M8 |IOSTANDARD = PCI33_3;
NET "PCI_AD[16]" LOC = R4 |IOSTANDARD = PCI33_3;
NET "PCI_AD[17]" LOC = P4 |IOSTANDARD = PCI33_3;
NET "PCI_AD[18]" LOC = M6 |IOSTANDARD = PCI33_3;
NET "PCI_AD[19]" LOC = L6 |IOSTANDARD = PCI33_3;
NET "PCI_AD[20]" LOC = P3 |IOSTANDARD = PCI33_3;
NET "PCI_AD[21]" LOC = N4 |IOSTANDARD = PCI33_3;
NET "PCI_AD[22]" LOC = M5 |IOSTANDARD = PCI33_3;
NET "PCI_AD[23]" LOC = M4 |IOSTANDARD = PCI33_3;
NET "PCI_AD[24]" LOC = V2 |IOSTANDARD = PCI33_3;
NET "PCI_AD[25]" LOC = V1 |IOSTANDARD = PCI33_3;
NET "PCI_AD[26]" LOC = U3 |IOSTANDARD = PCI33_3;
NET "PCI_AD[27]" LOC = U1 |IOSTANDARD = PCI33_3;
NET "PCI_AD[28]" LOC = T2 |IOSTANDARD = PCI33_3;
NET "PCI_AD[29]" LOC = T1 |IOSTANDARD = PCI33_3;
NET "PCI_AD[30]" LOC = R3 |IOSTANDARD = PCI33_3;
NET "PCI_AD[31]" LOC = R1 |IOSTANDARD = PCI33_3;

NET "PCI_CBE[0]" LOC = D2 |IOSTANDARD = PCI33_3;
NET "PCI_CBE[1]" LOC = D1 |IOSTANDARD = PCI33_3;
NET "PCI_CBE[2]" LOC = C3 |IOSTANDARD = PCI33_3;
NET "PCI_CBE[3]" LOC = C1 |IOSTANDARD = PCI33_3;


NET "PCI_DEVSEL" LOC = G6 |IOSTANDARD = PCI33_3;
NET "PCI_FRAME" LOC = F5 |IOSTANDARD = PCI33_3;
NET "PCI_GNT" LOC = K7 |IOSTANDARD = PCI33_3;		
NET "PCI_IDSEL" LOC = K8 |IOSTANDARD = PCI33_3;
NET "PCI_INTA" LOC = D5 |IOSTANDARD = PCI33_3;
NET "PCI_IRDY" LOC = E4 |IOSTANDARD = PCI33_3;
NET "PCI_PAR" LOC = J7 |IOSTANDARD = PCI33_3;
NET "PCI_PERR" LOC = H8 |IOSTANDARD = PCI33_3;	
NET "PCI_REQ" LOC = B2 |IOSTANDARD = PCI33_3;
NET "PCI_SERR" LOC = E1 |IOSTANDARD = PCI33_3;	
NET "PCI_STOP" LOC = E3 |IOSTANDARD = PCI33_3;
NET "PCI_TRDY" LOC = F3 |IOSTANDARD = PCI33_3;

NET "PCI_RST" LOC = B1 |IOSTANDARD = PCI33_3;
NET "PCLK" LOC = J3 |IOSTANDARD = PCI33_3; 

############################ Clock period constraints ########################

//clock constrains
NET "PCLK" TNM_NET="PCLK";

TIMESPEC "TS_PCLK" = PERIOD "PCLK" 30 ns HIGH 50%;

NET "PCLK" CLOCK_DEDICATED_ROUTE=TRUE;

############################ PCI Clock offset constraints ########################

# PCI specifies 7ns Tsu for inputs and 11ns Tco for outputs
#BUS
#OFFSET = IN 7 ns BEFORE "PCLK"  ;
#OFFSET = OUT 11 ns AFTER "PCLK"  ;
#POINT-TO-POINT
#OFFSET = IN 10 ns BEFORE "PCLK"  ;
#OFFSET = OUT 12 ns AFTER "PCLK"  ;

NET "PCI_FRAME" OFFSET = IN 7 ns BEFORE "PCLK"  ;
NET "PCI_FRAME" OFFSET = OUT 11 ns AFTER "PCLK"  ;

NET "PCI_IRDY" OFFSET = IN 7 ns BEFORE "PCLK"  ;
NET "PCI_IRDY" OFFSET = OUT 11 ns AFTER "PCLK"  ;

NET "PCI_DEVSEL" OFFSET = IN 7 ns BEFORE "PCLK"  ;
NET "PCI_DEVSEL" OFFSET = OUT 11 ns AFTER "PCLK"  ;

NET "PCI_TRDY" OFFSET = IN 7 ns BEFORE "PCLK"  ;
NET "PCI_TRDY" OFFSET = OUT 11 ns AFTER "PCLK"  ;

NET "PCI_STOP" OFFSET = IN 7 ns BEFORE "PCLK"  ;
NET "PCI_STOP" OFFSET = OUT 11 ns AFTER "PCLK"  ;

NET "PCI_PAR" OFFSET = IN 7 ns BEFORE "PCLK"  ;
NET "PCI_PAR" OFFSET = OUT 11 ns AFTER "PCLK"  ;

NET "PCI_PERR" OFFSET = IN 7 ns BEFORE "PCLK"  ;
NET "PCI_PERR" OFFSET = OUT 11 ns AFTER "PCLK"  ;

INST "PCI_AD<*>" TNM = "PCI_AD_GRP";
TIMEGRP "PCI_AD_GRP" OFFSET = IN 7 ns BEFORE "PCLK"  ;
TIMEGRP "PCI_AD_GRP" OFFSET = OUT 11 ns AFTER "PCLK";

INST "PCI_CBE<*>" TNM = "PCI_CBE_GRP";
TIMEGRP "PCI_CBE_GRP" OFFSET = IN 7 ns BEFORE "PCLK"  ;
TIMEGRP "PCI_CBE_GRP" OFFSET = OUT 11 ns AFTER "PCLK"  ;

NET "PCI_IDSEL" OFFSET = IN 10 ns BEFORE "PCLK"  ;

NET "PCI_GNT" OFFSET = IN 10 ns BEFORE "PCLK"  ;

NET "PCI_INTA" OFFSET = OUT 11 ns AFTER "PCLK"  ;

NET "PCI_REQ" OFFSET = OUT 12 ns AFTER "PCLK"  ;

NET "PCI_SERR" OFFSET = OUT 12 ns AFTER "PCLK"  ;

################### BOARD IDENT #################################
NET "BOARD_IDENT[0]" LOC = B16;
NET "BOARD_IDENT[1]" LOC = A16;
NET "BOARD_IDENT[2]" LOC = C17;
NET "BOARD_IDENT[3]" LOC = A17;
NET "BOARD_IDENT[4]" LOC = B18;
NET "BOARD_IDENT[5]" LOC = A18;

NET "LED_GREEN" LOC= D17;
NET "LED_RED" LOC= E16;

################### BUS IO contraints ############################

#FPGA A
#Default IO type is LVCMOS25,SLEW=SLOW,DRIVE_STRENGTH=12,

NET "CLOCK_PAD_A" LOC = Y12 |IOSTANDARD = LVCMOS33 | SLEW = FAST ; 

NET "BUS_STB_PAD_A" LOC = AB9 |IOSTANDARD = LVCMOS33 ; 
NET "BUS_WE_PAD_A" LOC = Y9 |IOSTANDARD = LVCMOS33 ;  
NET "BUS_ACK_PAD_A" LOC = W10 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
	
NET "BUS_M_RDY_PAD_A" LOC = AB8 |IOSTANDARD = LVCMOS33 ; 
NET "BUS_ABORT_PAD_A" LOC= AA8  |IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "BUS_REQ_R_1_PAD_A" LOC = Y19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_REQ_R_2_PAD_A" LOC = AB19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_REQ_W_1_PAD_A" LOC = W18 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_REQ_W_2_PAD_A" LOC = Y18 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_S_RDY_PAD_A" LOC= T16  |IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "BUS_AD_PAD_A[0]" LOC = W8 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[1]" LOC = V7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[2]" LOC = W9 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[3]" LOC = Y8 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[4]" LOC = Y7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[5]" LOC = AB7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[6]" LOC = AA6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[7]" LOC = AB6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[8]" LOC = U9 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[9]" LOC = V9 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[10]" LOC = T8 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[11]" LOC = U8 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[12]" LOC = T10 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[13]" LOC = U10 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[14]" LOC = W6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[15]" LOC = Y6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[16]" LOC = Y5 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[17]" LOC = AB5 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[18]" LOC = AA4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[19]" LOC = AB4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[20]" LOC = Y3 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[21]" LOC = AB3 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[22]" LOC = R9 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[23]" LOC = R8 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[24]" LOC = T7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[25]" LOC = R7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[26]" LOC = W4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[27]" LOC = Y4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[28]" LOC = U6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[29]" LOC = V5 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[30]" LOC = AA2 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_A[31]" LOC = AB2 |IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "rst_channel_0_pad" LOC=T15 | IOSTANDARD = LVCMOS33;
NET "rst_channel_1_pad" LOC=U17 | IOSTANDARD = LVCMOS33;

NET "channel_0_up_pad" LOC= U16 | IOSTANDARD = LVCMOS33;
NET "channel_1_up_pad" LOC= V19 | IOSTANDARD = LVCMOS33;

NET "pulse_A" LOC= V18 |IOSTANDARD = LVCMOS33;
NET "bc0" LOC= R16 |IOSTANDARD = LVCMOS33;
NET "bc1" LOC= R15 |IOSTANDARD = LVCMOS33;

NET "start_pulse_A" LOC=V17 | IOSTANDARD = LVCMOS33;
NET "end_pulse_A" LOC=W17 | IOSTANDARD = LVCMOS33;

#offset constraints

INST "CLOCK_PAD_A" TNM = TCLOCK_PAD_A;
TIMESPEC TS_TOCLKA = TO "TCLOCK_PAD_A" 3 ns;

INST "BUS_STB_PAD_A" TNM= TABUS;
INST "BUS_WE_PAD_A" TNM= TABUS;
INST "BUS_ACK_PAD_A" TNM= TABUS;
INST "BUS_M_RDY_PAD_A" TNM= TABUS;
INST "BUS_S_RDY_PAD_A" TNM= TABUS;
INST "BUS_ABORT_PAD_A" TNM= TABUS;
INST "BUS_REQ_R_1_PAD_A" TNM= TABUS;
INST "BUS_REQ_R_2_PAD_A" TNM= TABUS;
INST "BUS_REQ_W_1_PAD_A" TNM= TABUS;
INST "BUS_REQ_W_2_PAD_A" TNM= TABUS;
INST "BUS_AD_PAD_A<*>" TNM= TABUS;

TIMESPEC TS_OFFSET_IN_A = FROM "TABUS" 3 ns DATAPATHONLY;
TIMESPEC TS_OFFSET_OUT_A = TO "TABUS" 3 ns DATAPATHONLY;


#FGPA B
#Default IO type is LVCMOS25,SLEW=SLOW,DRIVE_STRENGTH=12,

NET "CLOCK_PAD_B" LOC = K19 |IOSTANDARD = LVCMOS33 | SLEW = FAST ; 

NET "BUS_STB_PAD_B" LOC = K22 |IOSTANDARD = LVCMOS33; 
NET "BUS_WE_PAD_B" LOC = K21 |IOSTANDARD = LVCMOS33;  
NET "BUS_ACK_PAD_B" LOC = L20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;	

NET "BUS_M_RDY_PAD_B" LOC= G20 |IOSTANDARD = LVCMOS33;
NET "BUS_ABORT_PAD_B" LOC= J19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "BUS_REQ_R_1_PAD_B" LOC = P19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_REQ_R_2_PAD_B" LOC = P20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_REQ_W_1_PAD_B" LOC = W20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_REQ_W_2_PAD_B" LOC = W22 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_S_RDY_PAD_B" LOC= L17 |IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "BUS_AD_PAD_B[0]" LOC = C19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[1]" LOC = B20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[2]" LOC = G16 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[3]" LOC = G17 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[4]" LOC = F16 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[5]" LOC = F17 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[6]" LOC = B21 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[7]" LOC = B22 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[8]" LOC = A20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[9]" LOC = A21 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[10]" LOC = K16 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[11]" LOC = J16 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[12]" LOC = H16 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[13]" LOC = H17 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[14]" LOC = D19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[15]" LOC = D20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[16]" LOC = F18 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[17]" LOC = F19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[18]" LOC = D21 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[19]" LOC = D22 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[20]" LOC = C20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[21]" LOC = C22 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[22]" LOC = G19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[23]" LOC = F20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[24]" LOC = H19 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[25]" LOC = H18 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[26]" LOC = E20 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[27]" LOC = E22 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[28]" LOC = J17 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[29]" LOC = K17 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[30]" LOC = F21 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD_B[31]" LOC = F22 |IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "rst_channel_2_pad" LOC=K18 | IOSTANDARD = LVCMOS33;
NET "rst_channel_3_pad" LOC=U19 | IOSTANDARD = LVCMOS33;

NET "channel_2_up_pad" LOC=  V20 | IOSTANDARD = LVCMOS33;
NET "channel_3_up_pad" LOC=  M17 | IOSTANDARD = LVCMOS33;

NET "pulse_B" LOC=  M18 |IOSTANDARD = LVCMOS33;
NET "bc2" LOC= P17 |IOSTANDARD = LVCMOS33;
NET "bc3" LOC= N16 |IOSTANDARD = LVCMOS33;

NET "start_pulse_B" LOC=P18 | IOSTANDARD = LVCMOS33;
NET "end_pulse_B" LOC=R19 | IOSTANDARD = LVCMOS33;

#offset constraints

INST "CLOCK_PAD_B" TNM = TCLOCK_PAD_B;
TIMESPEC TS_TOCLKB = TO "TCLOCK_PAD_B" 3 ns;

INST "BUS_STB_PAD_B" TNM= TBBUS;
INST "BUS_WE_PAD_B" TNM= TBBUS;
INST "BUS_ACK_PAD_B" TNM= TBBUS;
INST "BUS_M_RDY_PAD_B" TNM= TBBUS;
INST "BUS_S_RDY_PAD_B" TNM= TBBUS;
INST "BUS_ABORT_PAD_B" TNM= TBBUS;
INST "BUS_REQ_R_1_PAD_B" TNM= TBBUS;
INST "BUS_REQ_R_2_PAD_B" TNM= TBBUS;
INST "BUS_REQ_W_1_PAD_B" TNM= TBBUS;
INST "BUS_REQ_W_2_PAD_B" TNM= TBBUS;
INST "BUS_AD_PAD_B<*>" TNM= TBBUS;

TIMESPEC TS_OFFSET_IN_B = FROM "TBBUS" 3 ns DATAPATHONLY;
TIMESPEC TS_OFFSET_OUT_B = TO "TBBUS" 3 ns DATAPATHONLY;









