#################################################################################
##
## Project:  Aurora Module Generator version 3.1
##
##    Date:  $Date: 2009/09/08 16:23:47 $
##     Tag:  $Name: i+O-61x+189894 $
##    File:  $RCSfile: aurora_example_v4_ucf.ejava,v $
##     Rev:  $Revision: 1.3 $
##
## Company:  Xilinx
##
## (c) Copyright 2004 ? 2009 Xilinx, Inc. All rights reserved.
##
## This file contains confidential and proprietary information
## of Xilinx, Inc. and is protected under U.S. and
## international copyright and other intellectual property
## laws.
##
## DISCLAIMER
## This disclaimer is not a license and does not grant any
## rights to the materials distributed herewith. Except as
## otherwise provided in a valid license issued to you by
## Xilinx, and to the maximum extent permitted by applicable
## law: (1) THESE MATERIALS ARE MADE AVAILABLE "AS IS" AND
## WITH ALL FAULTS, AND XILINX HEREBY DISCLAIMS ALL WARRANTIES
## AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING
## BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-
## INFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE; and
## (2) Xilinx shall not be liable (whether in contract or tort,
## including negligence, or under any other theory of
## liability) for any loss or damage of any kind or nature
## related to, arising under or in connection with these
## materials, including for any direct, or any indirect,
## special, incidental, or consequential loss or damage
## (including loss of data, profits, goodwill, or any type of
## loss or damage suffered as a result of any action brought
## by a third party) even if such damage or loss was
## reasonably foreseeable or Xilinx had been advised of the
## possibility of the same.
##
## CRITICAL APPLICATIONS
## Xilinx products are not designed or intended to be fail-
## safe, or for use in any application requiring fail-safe
## performance, such as life-support or safety devices or
## systems, Class III medical devices, nuclear facilities,
## applications related to the deployment of airbags, or any
## other applications that could lead to death, personal
## injury, or severe property or environmental damage
## (individually and collectively, "Critical Applications"). 
## Customer assumes the sole risk and
## liability of any use of Xilinx products in Critical
## Applications, subject only to applicable laws and
## regulations governing limitations on product liability.
##
## THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS
## PART OF THIS FILE AT ALL TIMES.

##
#################################################################################
##
##  AURORA_SAMPLE_UCF
##
##
##  Description: This is the user constraints file for a 1 lane Aurora
##               core. This module supports the following features:
##
##              *   Supports Virtex 4 FX devices, 1152 Package on ML423 Board
##
##
##              This ucf file is for an xc4vfx60-ff1152 on an ML423 board. Since you are using an xc4vfx40-ff672 device, you
##              must change all the LOC constraints that are currently commented out to match your current board

#Set stepping configuration for CES4
CONFIG STEPPING = "SCD1";
################################## Clock Constraints ##########################

# User Clock Contraint: the value is selected based on the line rate and lane width of the module
NET user_clk_i PERIOD = 13.33  ns;


# Reference clock contraint for MGTs on the left edge of the V4 device
NET ref_clk1_left_i PERIOD = 3.33 ns;


# Drp Clock Constraint  
NET init_clk_i PERIOD = 20 ns;

################Set the locations of the pins for an ML423 board##############




NET REF_CLK1_LEFT_N  LOC=AF20;
NET REF_CLK1_LEFT_P  LOC=AF21;

INST GT11CLK_MGT_LEFT LOC = GT11CLK_X0Y0;
INST GT11CLK_MGT_LEFT SYNCLK1OUTEN = ENABLE;
INST GT11CLK_MGT_LEFT SYNCLK2OUTEN = DISABLE;









#NET INIT_CLK        LOC=AF20;  #OSCILLATOR

#NET RESET           LOC=AG10;   #BUTTON
#NET PMA_INIT        LOC=AF10;   #BUTTON SW2
#NET RESET_CALBLOCKS LOC=AJ10;    #BUTTON SW3

#NET CHANNEL_UP      LOC=AH9;     #LED
#NET HARD_ERROR      LOC=AJ9;     #LED
#NET SOFT_ERROR      LOC=AD9;     #LED



#NET ERROR_COUNT[0]  LOC=AJ16;    #LED
#NET ERROR_COUNT[1]  LOC=AG15;    #LED
#NET ERROR_COUNT[2]  LOC=AF15;    #LED
#NET ERROR_COUNT[3]  LOC=AF14;     #LED
#NET ERROR_COUNT[4]  LOC=AE14;     #LED
#NET ERROR_COUNT[5]  LOC=AE13;     #LED
#NET ERROR_COUNT[6]  LOC=AH7;     #LED
#NET ERROR_COUNT[7]  LOC=AH8;     #LED


#NET RX_SIGNAL_DETECT LOC=AJ7;          #DIP Switch. Must be high for operation



#This board supports a maximum of 8 lanes
#NET LANE_UP          LOC=G22;     #Header Pin



##########################    MGT Location Constraints ####################

   

# Place aurora_module_i/mgt_wrapper_i/MGT0 at location X0Y0 
INST aurora_aurora_module_i/aurora_mgt_wrapper_i/MGT0 LOC=GT11_X0Y0;


# Place unused_mgt_0_i/MGT0 at location X0Y1 
INST aurora_unused_mgt_0_i/MGT0 LOC=GT11_X0Y1;



