#DSP_SPARTAN

NET BCLK_A			LOC = G9 |	IOSTANDARD = LVCMOS33;	#156.25 MHz
NET DSP_CLK0		LOC = M18 | IOSTANDARD = LVCMOS33;
PIN "clk_gen/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "clk_gen/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

#PPIx_CLK
NET PPI0_CLK_0		LOC = U20 | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE;
NET PPI1_CLK_0		LOC = W20 | IOSTANDARD = LVCMOS33;

##PPI0_SYNC*_0
NET PPI0_SYNC1_0	LOC = U22 | IOSTANDARD = LVCMOS33;
#NET PPI0_SYNC2_0	LOC = V21 | IOSTANDARD = LVCMOS33;
#NET PPI0_SYNC3_0	LOC = V22 | IOSTANDARD = LVCMOS33;

##PPI1_SYNC*_0
NET PPI1_SYNC1_0	LOC = W22 | IOSTANDARD = LVCMOS33;
NET PPI1_SYNC2_0	LOC = Y21 | IOSTANDARD = LVCMOS33;
#NET PPI1_SYNC3_0	LOC = Y22 | IOSTANDARD = LVCMOS33;

##PPI0_0
NET PPI0_0[*]		IOSTANDARD = LVCMOS33;

NET PPI0_0[0]		LOC = H18;
NET PPI0_0[1]		LOC = H19;
NET PPI0_0[2]		LOC = F21;
NET PPI0_0[3]		LOC = F22;
NET PPI0_0[4]		LOC = E20;
NET PPI0_0[5]		LOC = E22;
NET PPI0_0[6]		LOC = J19;
NET PPI0_0[7]		LOC = H20;
NET PPI0_0[8]		LOC = K19;
NET PPI0_0[9]		LOC = K18;
NET PPI0_0[10]		LOC = G20;
NET PPI0_0[11]		LOC = G22;
NET PPI0_0[12]		LOC = K17;
NET PPI0_0[13]		LOC = L17;
NET PPI0_0[14]		LOC = H21;
NET PPI0_0[15]		LOC = H22;

#PPI1_0
NET PPI1_0[*]		IOSTANDARD = LVCMOS33;

NET PPI1_0[0]		LOC = K20;
NET PPI1_0[1]		LOC = L19;
NET PPI1_0[2]		LOC = J20;
NET PPI1_0[3]		LOC = J22;
NET PPI1_0[4]		LOC = M20;
NET PPI1_0[5]		LOC = M19;
NET PPI1_0[6]		LOC = K21;
NET PPI1_0[7]		LOC = K22;
NET PPI1_0[8]		LOC = P20;
NET PPI1_0[9]		LOC = N19;
NET PPI1_0[10]		LOC = L20;
NET PPI1_0[11]		LOC = L22;
NET PPI1_0[12]		LOC = M21;
NET PPI1_0[13]		LOC = M22;
NET PPI1_0[14]		LOC = N20;
NET PPI1_0[15]		LOC = N22;

#DSP0_JTAG
NET TMS_A			LOC = G11 | IOSTANDARD = LVCMOS33;
NET DSP_TMS_0		LOC = U19 | IOSTANDARD = LVCMOS33;
NET TCK_A			LOC = F14 | IOSTANDARD = LVCMOS33;
NET DSP_TCK_0		LOC = T20 | IOSTANDARD = LVCMOS33;
NET TDI_A			LOC = E16 | IOSTANDARD = LVCMOS33;
NET DSP_TDI_0		LOC = N15 | IOSTANDARD = LVCMOS33;
NET TDO_A			LOC = F16 | IOSTANDARD = LVCMOS33;
NET DSP_TDO_0		LOC = P16 | IOSTANDARD = LVCMOS33;
NET EMU_A			LOC = H12 | IOSTANDARD = LVCMOS33;
NET DSP_EMU_A		LOC = H13 | IOSTANDARD = LVCMOS33;
NET TRST_A			LOC = F15 | IOSTANDARD = LVCMOS33;
NET DSP_TRST_0		LOC = N16 | IOSTANDARD = LVCMOS33;

#DSP0 BootMode
NET DSP0_BMODE[*]	IOSTANDARD = LVCMOS33;
NET DSP0_BMODE[0] LOC = T21;
NET DSP0_BMODE[1] LOC = T22;

#DSP0 IO
NET DSP_RST0		LOC = R15 | IOSTANDARD = LVCMOS33;
#NET DSP_SLEEP_0	LOC = M16 | IOSTANDARD = LVCMOS33;
NET BYPASS_0		LOC = M17 | IOSTANDARD = LVCMOS33;
NET ARDY0			LOC = P21 | IOSTANDARD = LVCMOS33;
NET BR0				LOC = R20 | IOSTANDARD = LVCMOS33;

NET NMI0[*]			IOSTANDARD = LVCMOS33;
NET NMI0[0]			LOC = P19;
NET NMI0[1]			LOC = U13;

NET PF_0_0			LOC = F18 | IOSTANDARD = LVCMOS33;	#WR_EN
NET PF_0_1			LOC = F19 | IOSTANDARD = LVCMOS33;	#FIFO_FULL
NET PF_0_2			LOC = H16 | IOSTANDARD = LVCMOS33;
#NET PF_0_3			LOC = H17 | IOSTANDARD = LVCMOS33;
#NET PF_0_4			LOC = B21 | IOSTANDARD = LVCMOS33;
#NET PF_0_5			LOC = B22 | IOSTANDARD = LVCMOS33;
#NET PF_0_6			LOC = J16 | IOSTANDARD = LVCMOS33;
#NET PF_0_7			LOC = J17 | IOSTANDARD = LVCMOS33;
#NET PF_0_8			LOC = C20 | IOSTANDARD = LVCMOS33;
#NET PF_0_9			LOC = C22 | IOSTANDARD = LVCMOS33;
#NET PF_0_10			LOC = L15 | IOSTANDARD = LVCMOS33;
#NET PF_0_11			LOC = K16 | IOSTANDARD = LVCMOS33;
#NET PF_0_12			LOC = D21 | IOSTANDARD = LVCMOS33;
#NET PF_0_13			LOC = D22 | IOSTANDARD = LVCMOS33;
#NET PF_0_14			LOC = G19 | IOSTANDARD = LVCMOS33;
#NET PF_0_15			LOC = F20 | IOSTANDARD = LVCMOS33;
