
############ LOC constraints ##############

NET "WB_CLK_2x_PAD" LOC =P3 |IOSTANDARD = LVCMOS33;

NET "BUS_STB_PAD" LOC=K4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_WE_PAD" LOC=L6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_ACK_PAD" LOC=M6 |IOSTANDARD = LVCMOS33;

NET "BUS_M_RDY" LOC=K1 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_ABORT" LOC=K2 |IOSTANDARD = LVCMOS33;

NET "BUS_AD_PAD[0]" LOC=R7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[1]" LOC=P8 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[2]" LOC=W4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[3]" LOC=Y3 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[4]" LOC=T6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[5]" LOC=T5 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[6]" LOC=V5 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[7]" LOC=V3 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[8]" LOC=P5 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[9]" LOC=P4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[10]" LOC=AA2 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[11]" LOC=AA1 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[12]" LOC=N6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[13]" LOC=N7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[14]" LOC=U4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[15]" LOC=T4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[16]" LOC=P6 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[17]" LOC=P7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[18]" LOC=T3 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[19]" LOC=R4 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[20]" LOC=M7 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[21]" LOC=M8 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[22]" LOC=Y2 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[23]" LOC=Y1 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[24]" LOC=W3 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[25]" LOC=W1 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[26]" LOC=V2 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[27]" LOC=V1 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[28]" LOC=U3 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[29]" LOC=U1 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[30]" LOC=T2 |IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "BUS_AD_PAD[31]" LOC=T1 |IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "BUS_REQ_R_1_PAD" LOC=J3 |IOSTANDARD = LVCMOS33; 
NET "BUS_REQ_R_2_PAD" LOC=J1 |IOSTANDARD = LVCMOS33;
NET "BUS_REQ_W_1_PAD" LOC=K6 |IOSTANDARD = LVCMOS33;
NET "BUS_REQ_W_2_PAD" LOC=K5 |IOSTANDARD = LVCMOS33;
NET "BUS_S_RDY" LOC=H2 |IOSTANDARD = LVCMOS33;


NET "MON_OUT" LOC=K7 |IOSTANDARD = LVCMOS33; //MON_A0

NET "rst_channel_0_pad" LOC= H1 | IOSTANDARD=LVCMOS33;
NET "rst_channel_1_pad" LOC= J4 | IOSTANDARD=LVCMOS33;

NET "CHANNEL_UP_1_PAD" LOC= H3 |  IOSTANDARD=LVCMOS33;
NET "CHANNEL_UP_2_PAD" LOC= G3 |  IOSTANDARD=LVCMOS33;

NET "MON_IN" LOC=G1 |IOSTANDARD = LVCMOS33;
NET "bc1" LOC= F2 |IOSTANDARD = LVCMOS33;
NET "bc2" LOC= F1 |IOSTANDARD = LVCMOS33;
NET "start_pulse_in" LOC = H4 | IOSTANDARD = LVCMOS33;//MON_A2
NET "start_pulse_in_led" LOC = F3 | IOSTANDARD = LVCMOS33;//MON_A6
NET "start_pulse_out" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "end_pulse_in" LOC = D2 | IOSTANDARD = LVCMOS33;//MON_A4
NET "end_pulse_in_led" LOC = H6 | IOSTANDARD = LVCMOS33;//MON_A8
NET "end_pulse_out" LOC = E1 | IOSTANDARD = LVCMOS33;

############ Timing constraints ##########

INST "WB_CLK_2x_PAD" TNM = TCLOCK_PAD;
TIMESPEC TS_TOCLK = FROM "TCLOCK_PAD" 3.5 ns;

INST "BUS_STB_PAD" TNM= TBUS;
INST "BUS_WE_PAD" TNM= TBUS;
INST "BUS_ACK_PAD" TNM= TBUS;
INST "BUS_M_RDY" TNM= TBUS;
INST "BUS_S_RDY" TNM= TBUS;
INST "BUS_ABORT" TNM= TBUS;
INST "BUS_REQ_R_1_PAD" TNM= TBUS;
INST "BUS_REQ_R_2_PAD" TNM= TBUS;
INST "BUS_REQ_W_1_PAD" TNM= TBUS;
INST "BUS_REQ_W_2_PAD" TNM= TBUS;
INST "BUS_AD_PAD<*>" TNM= TBUS;

TIMESPEC TS_OFFSET_IN = FROM "TBUS" 3.5 ns DATAPATHONLY;
TIMESPEC TS_OFFSET_OUT = TO "TBUS" 3.5 ns DATAPATHONLY;


NET "WB_CLK_2x_PAD" TNM_NET="WB_CLK_2x_PAD";

TIMESPEC "TS_WB_CLK_2x_PAD" = PERIOD "WB_CLK_2x_PAD" 15 ns HIGH 50%;

NET "WB_CLK_2x_PAD" CLOCK_DEDICATED_ROUTE=TRUE;


###########################################

NET "TX_FAULT_2" LOC= E5 |  IOSTANDARD=LVCMOS33;
NET "RX_LOSS_2" LOC= A4 |  IOSTANDARD=LVCMOS33;
NET "MOD2_2" LOC= B3 |  IOSTANDARD=LVCMOS33;
NET "MOD0_2" LOC= C4 |  IOSTANDARD=LVCMOS33;
NET "TX_DIS_2" LOC= E6 |  IOSTANDARD=LVCMOS33;
NET "MOD1_2" LOC= A3 |  IOSTANDARD=LVCMOS33;
NET "LED_GREEN_2" LOC= D4 |  IOSTANDARD=LVCMOS33;
NET "LED_RED_2" LOC= D5 |  IOSTANDARD=LVCMOS33;

NET "TX_FAULT_1" LOC= D18 |  IOSTANDARD=LVCMOS33;
NET "RX_LOSS_1" LOC= A19 |  IOSTANDARD=LVCMOS33;
NET "MOD2_1" LOC= B18 |  IOSTANDARD=LVCMOS33;
NET "MOD0_1" LOC= C19 |  IOSTANDARD=LVCMOS33;
NET "TX_DIS_1" LOC= D19 |  IOSTANDARD=LVCMOS33;
NET "MOD1_1" LOC= A18 |  IOSTANDARD=LVCMOS33;
NET "LED_GREEN_1" LOC= D17 |  IOSTANDARD=LVCMOS33;
NET "LED_RED_1" LOC= C18 |  IOSTANDARD=LVCMOS33;



NET "BCLK" LOC=G9 | IOSTANDARD=LVCMOS33;

NET "MGTCLK1P" LOC=B20 | IOSTANDARD=LVDS_33;
NET "MGTCLK1N" LOC=A20 | IOSTANDARD=LVDS_33;
NET "MGTCLK2P" LOC=B2 | IOSTANDARD=LVDS_33;
NET "MGTCLK2N" LOC=A2 | IOSTANDARD=LVDS_33;

NET "u_Aurora_unit_1/GTPD1_left_i" TNM_NET = GT1_REFCLK; 
TIMESPEC TS_GTPD1_LEFT_I = PERIOD "GT1_REFCLK" 156.25 MHz HIGH 50%;

# User Clock Constraint: Value is selected based on the line rate (3.125 Gbps) and lane width (4-Byte)
NET "user_clk_1" TNM_NET = USER_CLK_1;
TIMESPEC TS_USER_CLK_I_1 = PERIOD "USER_CLK_1" 78.125 MHz HIGH 50%;

# Sync Clock Constraint: Value is selected based on the line rate (3.125 Gbps) and lane width (4-Byte)
NET "u_Aurora_unit_1/sync_clk_i" TNM_NET = SYNC_CLK_1;
TIMESPEC TS_SYNC_CLK_I_1 = PERIOD "SYNC_CLK_1" 312.5 MHz HIGH 50%;

# GT REFCLK 
# GT clock is terminated internally, not associated with the IBUFG instance
NET GTPD1_P  LOC=A12; 
NET GTPD1_N  LOC=B12;
NET TXP1	LOC=B14;
NET TXN1	LOC=A14;
NET RXP1	LOC=D13;
NET RXN1	LOC=C13; 


NET "wb_clk_divide" TNM_NET = INIT_CLK;

###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG1" = FROM "INIT_CLK" TO "USER_CLK_1" TIG; 

############################### GT Location ###################################
INST u_Aurora_unit_1/aurora_module_i/gtp_wrapper_i/gtp_tile_inst/gtpa1_dual_i LOC=GTPA1_DUAL_X1Y0;


##############################################################

NET "u_Aurora_unit_2/GTPD0_left_i" TNM_NET = GT2_REFCLK; 
TIMESPEC TS_GTPD0_LEFT_I = PERIOD "GT2_REFCLK" 156.25 MHz HIGH 50%;

# User Clock Constraint: Value is selected based on the line rate (3.0 Gbps) and lane width (4-Byte)
NET "user_clk_2" TNM_NET = USER_CLK_2;
TIMESPEC TS_USER_CLK_I_2 = PERIOD "USER_CLK_2" 78.125 MHz HIGH 50%;

# Sync Clock Constraint: Value is selected based on the line rate (3.0 Gbps) and lane width (4-Byte)
NET "u_Aurora_unit_2/sync_clk_i" TNM_NET = SYNC_CLK_2;
TIMESPEC TS_SYNC_CLK_I_2 = PERIOD "SYNC_CLK_2" 312.5 MHz HIGH 50%;


# GT REFCLK 
# GT clock is terminated internally, not associated with the IBUFG instance
NET GTPD2_P  LOC=A10; 
NET GTPD2_N  LOC=B10; 
NET TXP2	LOC=B6;
NET TXN2	LOC=A6;
NET RXP2	LOC=D7;
NET RXN2	LOC=C7;

###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG2" = FROM "INIT_CLK" TO "USER_CLK_2" TIG; 

############################### GT Location ###################################
INST u_Aurora_unit_2/aurora_module_i/gtp_wrapper_i/gtp_tile_inst/gtpa1_dual_i LOC=GTPA1_DUAL_X0Y0;





#-----------------DSP Pins--------------------#
NET DSP_CLK0		LOC = M18 | IOSTANDARD = LVCMOS33;
NET DSP_CLK1		LOC = Y15 | IOSTANDARD = LVCMOS33;

#PPIx_CLK
NET PPI0_CLK_0		LOC = U20 | IOSTANDARD = LVCMOS33;
NET PPI1_CLK_0		LOC = W20 | IOSTANDARD = LVCMOS33;
NET PPI0_CLK_1		LOC = R13 | IOSTANDARD = LVCMOS33;
NET PPI1_CLK_1		LOC = AB18 | IOSTANDARD = LVCMOS33;

##PPI0_SYNC
NET PPI0_SYNC1_0	LOC = U22 | IOSTANDARD = LVCMOS33;
NET PPI0_SYNC1_1	LOC = T14 | IOSTANDARD = LVCMOS33;

##PPI1_SYNC
NET PPI1_SYNC2_0	LOC = Y21 | IOSTANDARD = LVCMOS33;
NET PPI1_SYNC2_1	LOC = AB17 | IOSTANDARD = LVCMOS33;

#PPI0
NET PPI0_0[*]		IOSTANDARD = LVCMOS33;
NET PPI0_0[0]		LOC = H18;
NET PPI0_0[1]		LOC = H19;
NET PPI0_0[2]		LOC = F21;
NET PPI0_0[3]		LOC = F22;
NET PPI0_0[4]		LOC = E20;
NET PPI0_0[5]		LOC = E22;
NET PPI0_0[6]		LOC = J19;
NET PPI0_0[7]		LOC = H20;
NET PPI0_0[8]		LOC = K19;
NET PPI0_0[9]		LOC = K18;
NET PPI0_0[10]		LOC = G20;
NET PPI0_0[11]		LOC = G22;
NET PPI0_0[12]		LOC = K17;
NET PPI0_0[13]		LOC = L17;
NET PPI0_0[14]		LOC = H21;
NET PPI0_0[15]		LOC = H22;

NET PPI0_1[*]		IOSTANDARD = LVCMOS33;
NET PPI0_1[0]		LOC = V11;
NET PPI0_1[1]		LOC = W11;
NET PPI0_1[2]		LOC = Y9;
NET PPI0_1[3]		LOC = AB9;
NET PPI0_1[4]		LOC = W10;
NET PPI0_1[5]		LOC = Y10;
NET PPI0_1[6]		LOC = AA8;
NET PPI0_1[7]		LOC = AB8;
NET PPI0_1[8]		LOC = T10;
NET PPI0_1[9]		LOC = U10;
NET PPI0_1[10]		LOC = Y7;
NET PPI0_1[11]		LOC = AB7;
NET PPI0_1[12]		LOC = W9;
NET PPI0_1[13]		LOC = Y8;
NET PPI0_1[14]		LOC = AA6;
NET PPI0_1[15]		LOC = AB6;

#PPI1
NET PPI1_0[*]		IOSTANDARD = LVCMOS33;
NET PPI1_0[0]		LOC = K20;
NET PPI1_0[1]		LOC = L19;
NET PPI1_0[2]		LOC = J20;
NET PPI1_0[3]		LOC = J22;
NET PPI1_0[4]		LOC = M20;
NET PPI1_0[5]		LOC = M19;
NET PPI1_0[6]		LOC = K21;
NET PPI1_0[7]		LOC = K22;
NET PPI1_0[8]		LOC = P20;
NET PPI1_0[9]		LOC = N19;
NET PPI1_0[10]		LOC = L20;
NET PPI1_0[11]		LOC = L22;
NET PPI1_0[12]		LOC = M21;
NET PPI1_0[13]		LOC = M22;
NET PPI1_0[14]		LOC = N20;
NET PPI1_0[15]		LOC = N22;

NET PPI1_1[*]		IOSTANDARD = LVCMOS33;
NET PPI1_1[0]		LOC = U9;
NET PPI1_1[1]		LOC = V9;
NET PPI1_1[2]		LOC = T8;
NET PPI1_1[3]		LOC = U8;
NET PPI1_1[4]		LOC = V7;
NET PPI1_1[5]		LOC = W8;
NET PPI1_1[6]		LOC = R9;
NET PPI1_1[7]		LOC = R8;
NET PPI1_1[8]		LOC = W6;
NET PPI1_1[9]		LOC = Y6;
NET PPI1_1[10]		LOC = Y5;
NET PPI1_1[11]		LOC = AB5;
NET PPI1_1[12]		LOC = AA4;
NET PPI1_1[13]		LOC = AB4;
NET PPI1_1[14]		LOC = T7;
NET PPI1_1[15]		LOC = U6;

#DSP_JTAG
NET TMS_A			LOC = G11 | IOSTANDARD = LVCMOS33;
NET DSP_TMS_0		LOC = U19 | IOSTANDARD = LVCMOS33;
NET DSP_TMS_1		LOC = W13 | IOSTANDARD = LVCMOS33;
NET TCK_A			LOC = F14 | IOSTANDARD = LVCMOS33;
NET DSP_TCK_0		LOC = T20 | IOSTANDARD = LVCMOS33;
NET DSP_TCK_1		LOC = AA16 | IOSTANDARD = LVCMOS33;
NET TDI_A			LOC = E16 | IOSTANDARD = LVCMOS33;
NET DSP_TDI_0		LOC = N15 | IOSTANDARD = LVCMOS33;
NET DSP_TDI_1		LOC = V13 | IOSTANDARD = LVCMOS33;
NET TDO_A			LOC = F16 | IOSTANDARD = LVCMOS33;
NET DSP_TDO_0		LOC = P16 | IOSTANDARD = LVCMOS33;
NET DSP_TDO_1		LOC = W14 | IOSTANDARD = LVCMOS33;
NET TRST_A			LOC = F15 | IOSTANDARD = LVCMOS33;
NET DSP_TRST_0		LOC = N16 | IOSTANDARD = LVCMOS33;
NET DSP_TRST_1		LOC = AB16 | IOSTANDARD = LVCMOS33;
NET EMU_A			LOC = H12 | IOSTANDARD = LVCMOS33;
NET DSP_EMU_A		LOC = H13 | IOSTANDARD = LVCMOS33;

#DSP BootMode
NET DSP0_BMODE[*]	IOSTANDARD = LVCMOS33;
NET DSP0_BMODE[0] LOC = T21;
NET DSP0_BMODE[1] LOC = T22;

NET DSP1_BMODE[*]	IOSTANDARD = LVCMOS33;
NET DSP1_BMODE[0] LOC = AA14;
NET DSP1_BMODE[1] LOC = AB14;

#DSP IO
NET DSP_RST0		LOC = R15 | IOSTANDARD = LVCMOS33;
#NET DSP_SLEEP_0	LOC = M16 | IOSTANDARD = LVCMOS33;
NET BYPASS_0		LOC = M17 | IOSTANDARD = LVCMOS33;
NET ARDY0			LOC = P21 | IOSTANDARD = LVCMOS33;
NET BR0				LOC = R20 | IOSTANDARD = LVCMOS33;

NET DSP_RST1		LOC = AB15 | IOSTANDARD = LVCMOS33;
#NET DSP_SLEEP_1	LOC = W15 | IOSTANDARD = LVCMOS33;
NET BYPASS_1		LOC = Y14 | IOSTANDARD = LVCMOS33;
NET ARDY1			LOC = U16 | IOSTANDARD = LVCMOS33;
NET BR1				LOC = W17 | IOSTANDARD = LVCMOS33;

NET NMI0[*]			IOSTANDARD = LVCMOS33;
NET NMI0[0]			LOC = P19;
NET NMI0[1]			LOC = U13;

NET NMI1[*]			IOSTANDARD = LVCMOS33;
NET NMI1[0]			LOC = R19;
NET NMI1[1]			LOC = Y16;

#Programmable Flags
NET PF_0_0			LOC = F18 | IOSTANDARD = LVCMOS33;	#TX RDY	- Input
NET PF_0_1			LOC = F19 | IOSTANDARD = LVCMOS33;	#RX RDY	- Input
NET PF_0_2			LOC = H16 | IOSTANDARD = LVCMOS33;	#RESET FPGA FIFO	- Input
NET PF_0_3			LOC = H17 | IOSTANDARD = LVCMOS33;	#cPCI RX RDY	- Output

NET PF_1_0			LOC = R11 | IOSTANDARD = LVCMOS33;	#TX RDY	- Input
NET PF_1_1			LOC = T11 | IOSTANDARD = LVCMOS33;	#RX RDY	- Input
NET PF_1_2			LOC = T15 | IOSTANDARD = LVCMOS33;	#RESET FPGA FIFO	- Input
NET PF_1_3			LOC = U15 | IOSTANDARD = LVCMOS33;	#cPCI RX RDY	- Output