# config file for IDLAB fiber optic readout software

# debugging options with DSP-FIN (subset of abcd)
fins=ac

# debugging options with DSP-FIN (subset of 0123456789ABCDEF)
fibers=08

# config for storage of data in files # # # # # # # # # # # # # # # # # # 

location_of_raw_datafiles=/home/craigb/daqdbg/data

location_of_status_and_log_files=/home/craigb/daqdbg/log

# other stuff

# when to change the color of the temperature display to red, indicating a dangerous condition
temperature_redline=40

# whether to use datestamp in filename # # # # # # # # # # # # # # # # # #
#use_datestamp=1

# datafile extensions # # # # # # # # # # # # # # # # # # # # # # # # # #
#CAMAC_file_extension=".camac"
#fiber_file_extension=".fiber"
#tracker_file_extension=".tracker"

# config for transfer to pc2 # # # # # # # # # # # # # # # # # # # # # # #

# IP address of computer to which to ftp data
#pc2_ip="128.171.30.126"
#pc2_ip="192.168.0.102"

# desination directory for raw data on pc2
#pc2_destination=/data/beamtest/rawdata/

# config for analysis of data # # # # # # # # # # # # # # # # # # # # # #

# how verbose to be (3=normal; 5=very verbose):
verbosity=5

# limits and step sizes (in DAC counts) for the prerun threshold scan
threshold_scan_low_limit=1310
threshold_scan_high_limit=2620
threshold_scan_step_size=10


# debugging options with DSP-FIN (subset of 0123456789ABCDEF)
loopbacks=
